ul.chapter-list {
  list-style-type: decimal;
  max-width: 700px;
  margin: auto;
  padding: 14px 14px 14px 35px;
}

h3.chapter-list {
  text-align: center;
}

li.chapter-list a.chapter-list {
    display: block;
    text-align: left;
    color: #000;
    background-color: inherit;
    padding: 8px 16px;
    font-size: 18px;
}

li.chapter-list a.chapter-list:active {
    background-color: inherit;
}

li.chapter-list a.chapter-list:active {
    background-color: #e6e6e6;
}
