h2.book-markdown {
  margin-top: 40px;
  text-align: center;
}

h3.book-markdown {
  font-family: 'ITC Charter';
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 14px;
  text-rendering: optimizeLegibility;
  max-width: 700px;
  border-bottom:1px solid #CCC;
  padding-bottom:3px;
}

h4.book-markdown {
  font-family: 'ITC Charter';
  font-size: 21px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 14px;
  text-rendering: optimizeLegibility;
  max-width: 700px;
  padding-bottom:3px;
}

ul.book-markdown {
  font-family: 'ITC Charter';
  margin-left: auto;
  margin-right: auto;
  font-size: 21px;
  line-height: 33.1833px;
  padding: 14px;
  text-rendering: optimizeLegibility;
  max-width: 700px;
  list-style-position: inside;
  list-style-type: square;
}

p.book-markdown {
  font-family: 'ITC Charter';
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -0.0666667px;
  line-height: 33.1833px;
  margin: auto;
  padding: 14px;
  text-rendering: optimizeLegibility;
  text-align: justify;
  text-justify: inter-word;
  text-indent: 20px;
  max-width: 700px;
}

code.book-markdown {
  font-family: 'ITC Charter';
  max-width: 700px;
  overflow-y: auto;
  display: block;
}

pre.book-markdown {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  font-family: 'ITC Charter';
  font-style: italic;

  display: block;
  font-size: 16px;
  margin: auto;
  padding: 14px;
  text-align: left;
  max-width: 700px;
}

.next-chapter {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 0px;
    width: 100%;
    max-width: 700px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    overflow: hidden;
}
