div.login-screen {
  background: #EEE;
  padding-top: 70px;
}
form.login-form {
  font: 14px/1.21 Roboto, 'Helvetica Neue', arial, helvetica, sans-serif;
  margin: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  background: #FFF;
  max-width: 700px;
}
.material-login {
  position: relative;
  padding: 0;
  margin: 5px;
  border: none;
  overflow: visible;
}
.material-login input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 10px 8px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #DDD;
  font-size: 120%;
  outline: none;
  cursor: text;
}
.material-login input::-webkit-input-placeholder {
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}
.material-login input:not(:focus)::-webkit-input-placeholder {
  color: transparent;
}
.material-login hr {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2px;
  border: none;
  background: #4CAF50;
  font-size: 1px;
  will-change: transform, visibility;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  visibility: hidden;
  z-index: 10;
}
.material-login input:focus ~ hr {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  visibility: visible;
}
.material-login label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 120%;
  color: #607D8B;
  -webkit-transform-origin: 0 -150%;
          transform-origin: 0 -150%;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  pointer-events: none;
}
.material-login input:focus ~ label,
.material-login input:valid ~ label {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.login-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    width: 100%;
    max-width: 700px;
    display: block;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    margin-top: 20px;
    cursor: pointer;
    overflow: hidden;
}
