ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li.navbar {
    float: left;
}

li.right-navbar {
    float: right;
}

li a.navbar {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li.right-navbar a.navbar-active:hover:not(.navbar-active) {
    background-color: #111;
}

.navbar-active {
    background-color: #4CAF50;
}

a.navbar-title {
  font-weight: bold;
  white-space: nowrap;
  display: 'block';
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 450px) {
    a.navbar-title {
      width: 220px;
    }
}
