.book-title {
  font-weight: bold;
  font-size: 18px;
}

.book-subtitle {
  font-style: italic;
  font-size: 14px;
}

h2.media-list {
    margin-left: 16px;
}

ul.book-list {
  list-style: none;
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding: 14px;
}

a.book-link:link {
  color: #449d48;
}

a.book-link:visited {
  color: #111;
}
