h2.book-markdown {
  margin-top: 40px;
  text-align: center;
}

p.book-markdown {
  font-family: 'ITC Charter';
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -0.0666667px;
  line-height: 33.1833px;
  margin: auto;
  padding: 14px;
  text-rendering: optimizeLegibility;
  text-align: left;
  max-width: 700px;
}

code {
  max-width: 700px;
  overflow-y: auto;
  display: block;
}
pre {
  -webkit-box-sizing: border-box; /* Safari, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  display: block;
  font-size: 16px;
  margin: auto;
  padding: 14px;
  text-align: left;
  max-width: 700px;
}

.next-chapter {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 0px;
    width: 100%;
    max-width: 700px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    overflow: hidden;
}
